{% extends "verwaltung/base.html" %}

{% block title %}
asav | Erfassung
{% endblock %}

{% block content %}
<h1>Auswertung</h1>
    <form method="get">
        <input name="q" id="search" type="text" placeholder="Suche...">
    </form>

<h2>Alle Schüler:</h2>
    <div class="accordion-container">
    {% for k in klassen %}
        <button class="accordion">Klasse {{ k }}</button>
        <div class="panel">
            <ul>
                {% for s in schueler %}
                    {% if k == s.klasse %}
                        <a class="list-link" href="{% url 'auswertung_detail' s.id %}"><li>{{ s }} </li></a>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </div>
    <script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>
{% endblock %}