{% load static %}

<!DOCTYPE html>
<html lang="de">
    <head> 
        <title>{% block title %}asav{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'verwaltung/style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{% static 'verwaltung/logo.png' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <div id="container">
            <ul id="navbar">
                
                <li class="nav-logo"><a href="{% url 'index' %}"><img src="{% static 'verwaltung/logo_white.png' %}" /></a></li>
                <li class="nav-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="nav-item"><a href="{% url 'erfassung' %}">Erfassung</a></li>
                <li class="nav-item"><a href="{% url 'auswertung' %}">Auswertung</a></li>
                <li class="nav-item"><a href="{% url 'impressum' %}">Impressum</a></li>
            </ul>

            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
            <div id="footer">
                © Richard Wohlbold und Alexander Sohn {% now "Y" as current_year %} {{ current_year }}
            </div>
        </div>
    </body>
</html>