{% load static %}

<!DOCTYPE html>
<html lang="de">
    <head> 
        <title>{% block title %}asav{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'verwaltung/style.css' %}">
    </head>
    <body>
        <ul id="navbar">
            <li class="nav-logo"><b><a href="{% url 'index' %}">asav</a></b></li>
            <li class="nav-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="nav-item"><a href="{% url 'erfassung' %}">Erfassung</a></li>
            <li class="nav-item"><a href="{% url 'auswertung' %}">Auswertung</a></li>
            <li class="nav-item"><a href="{% url 'impressum' %}">Impressum</a></li>
        </ul>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer">
            <p>
                <b>asav</b> steht für AußerSchulischer AktivitätenVerwalter und ist ein Schülerprojekt von Richard Wohlbold und Alexander Sohn im Rahmen des Datenbankprojekts für den Informatikunterricht.
            </p>

            <p>
                Es erlaubt Lehrern, außerschulische Aktivitäten ihrer Schüler einzutragen und am Ende des Schullaufjahres als Urkunde auszudrucken. Die erhobenen Daten können auch benutzt werden, um eine Grundlage für die Beantragung eines MINT-EC-Zertifikats zu dienen.
            </p>

            <p>
                <b>asav</b> ist mit <a href="http://djangoproject.com">Django</a> in Python geschrieben. Der Quellcode ist unter <a href="https://github.com/poshut/asav">https://github.com/poshut/asav</a> erhältlich.
            </p>

            <p>
                © Richard Wohlbold und Alexander Sohn 2019
            </p>
        </div>
    </body>
</html>