{% extends "verwaltung/base.html" %}

{% block title %}
asav | {{ schueler }}
{% endblock %}

{% block content %}
<h1>{{ schueler }}</h1>

<h2>Generelle Informationen</h2>

<ul>
    <li> Vorname: {{ schueler.vname}} </li>
    <li> Nachname: {{ schueler.nname}} </li>
    <li> Email: {{ schueler.email }} </li>
    <li> Klasse: {{ schueler.klasse }} </li>
</ul>

<h2>Aktivitätsergebnisse</h2>
<ul>
{% for a in teilnahmen %}
<li> {{ a.aktivitaetergebnis.aktivitaet }}: {{ a.aktivitaetergebnis.ergebnis }} ({{ a.aktivitaetergebnis.mint_punkte }} MINT-EC-Punkte)</li>
{% endfor %}
</ul>

<a href="{% url 'erfassung' %}">Zurück zur Erfassung</a>
{% endblock %}