{% extends "verwaltung/base.html" %}

{% block title %}
asav | Erfassung Aktivität
{% endblock %}

{% block content %}
    <div id="form-container">
        <form method="post">
            <div id="form-fields">
                {% csrf_token %}
                {{ form.as_p }}
                {{ formset.management_form }}

                {% for forms in formset.forms %}
                    {% if forms.ergebnis_name.errors %}
                        {% for error in forms.ergebnis_name.errors %}
                            {{ forms.ergebnis_name.label_tag }} <span class="form-error">{{ error }}</span>
                            {{ forms.ergebnis_name }}
                            {{ forms.mint_punkte.label_tag }}
                            {{ forms.mint_punkte }}
                        {% endfor %}
                    {% else %}
                        {{ forms.as_p }}
                    {% endif %}
                {% endfor %}
            </div>
            <input type="button" value="Ergebnis hinzufügen" id="form-add-ergebnis">
            <input type="submit" value="Abschicken">
            <div id="form-empty" style="display: none">
                <div class="form-ergebnis">
                    {{ formset.empty_form.as_p }}
                </div>
            </div>
        </form>
    </div>

<script>
    $('#form-add-ergebnis').click(function() {
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        $('#form-fields').append($('#form-empty').html().replace(/__prefix__/g, form_idx))
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
</script>
{% endblock %}
