{% extends "verwaltung/base.html" %}

{% block title %}
asav | Erfassung Aktivität
{% endblock %}

{% block content %}
        <form  method="post">

            <table id="erfassung" >
            <tbody>
                {% csrf_token %}
                {{ form.as_table }}
                {{ formset.management_form }}

                {% for forms in formset.forms %}
                    {% if forms.ergebnis_name.errors %}
                        {% for error in forms.ergebnis_name.errors %}
                            <tr ><td colspan="2"><p id="errormessage">{{ error }}</pid></td></tr>
                            <tr><th>{{ forms.ergebnis_name.label_tag }}</th><td>{{ forms.ergebnis_name }}</td></tr>
                            <tr><th>{{ forms.mint_punkte.label_tag }}</th><td>{{ forms.mint_punkte }}</td></tr>
                        {% endfor %}
                    {% else %}
                        {{ forms.as_table }}
                    {% endif %}
                {% endfor %}
            </tbody>
            <tfoot>
                <th colspan="2" ><input type="button" value="Feld hinzufügen" id="add_more"></th>
                <tr><th colspan="2" ><input type="submit" value="Abschicken"></th></tr>
            </tfoot>
            </table>
                <table id="empty_form" style="display:none">
                    <tbody>
                        {{ formset.empty_form.as_table }}
                    </tbody>
                </table>
        </form>
<script>
    $('#add_more').click(function() {
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        $('#erfassung tbody').append($('#empty_form tbody').html().replace(/__prefix__/g, form_idx))
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
</script>
{% endblock %}
